# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# ML Models
*.h5
*.pt
*.pth
*.onnx

# Node
node_modules/

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db